*{
    background-color: yellowgreen;
    font-family: Helvetica;
}

.weather-app{
    text-align: center;
}

.weather-app h1{
    font-size: 80px;
    text-align: center;
}
.card{
    width: 1000px;
    height: 150px;
    border-radius: 50px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card input {
    width: 80%; /* Adjust input width if needed */
    padding: 10px;
    font-size: 16px;
}

#get-weather-info {
    width: 500px;
    height: 50px;
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

#get-weather-info:hover {
    background-color: #161616;
    transform: scale(1.1);
}

.weather-info{
    margin: 0 auto;
    font-size: 50px;
}
