div{
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: red;
    /*transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.8,1.23,.39,.02);*/
    transition: all 0.5s linear;
}

div:hover{
    width: 250px;
    height: 250px;
    background-color: green;
    border-radius: 50%;
    transform: rotate(180deg);
}